/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common properties and utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* .half-width{
    width: 50%;
    padding-left: 5%;
} */
section{
    margin-bottom: 130px;
}


/*-----------
    header styles
 ----------- */
/* .header-wrapper{
    background-color: #2D25A0;
    width: 100%;
    display: flex;
    padding-top: 67px;
    padding-bottom: 86px;
    margin-bottom: 70px;
} */
.header-wrapper{
    background-color: #2D25A0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding-top: 67px;
    padding-bottom: 86px;
    margin-bottom: 70px;
    
}
.header-wrapper .header-left{
    padding-left: 150px;
}
.header-wrapper .header-left h1{
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.okay-button{
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    border: none;
    font-size: 16px;
    transition: transform 1s ease-in-out;
}
.okay-button:hover{
    transform:scale(1.2);
    color:bisque;
    cursor: pointer;
}

.fas{
    padding-left: 5px;
}
.header-wrapper .header-right{
    margin-right: 100px;;
}
.header-wrapper .header-right img{
    width: 556px;
    height: 438px; 
    transition: transform 1s ease-in-out; 
}
.header-right img:hover{
    transform:scale(1.1) rotate(20deg);
    cursor: pointer;
    
}


/*---------------
    main styles
 ------------------ */
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1050px;
}
.players-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    
}
.player-detail{
    width: 300px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 27px;
}
.player-photo img{
    width: 100%;
}
.player-info .player-title{
    color: #18191F;
    font-weight: bold;
    font-size: 28px;
    margin: 10px 0px;
}
.player-info p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0px;
}


/* highlight area style */

.highlight-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
}

.highlight-left-part h2{
    font-weight: bold;
    font-size: 42px;
    line-height: 60px;
    color: #0A0826;
    margin: 8px 0px;
}
.highlight-left-part p{
    font-size: 14px;
    line-height: 28px;
    color: #6C6C6C;
    margin: 8px 0px;
}
.highlight-right-part img{
    width: 567px;
    height: 427px;
}

/* result area style */

.result-area{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.result-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-title h2{
    color: #18191F;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 5px solid #2D25A0;;
    margin-bottom: 0px;
    border-bottom-width: 3px;
}
.result-title h4{
    color: #18191F;
    font-size: 18px;
}
.scores{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.scores img{
    width: 15%;
}
.scores .goals{
    color:#FFFFFF;
    background-color: #2D25A0;
    padding: 7px 30px;
    border-radius: 5px;
}

/* Latest news area start */

.latest-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.news-area-title {
    font-size: 35px;
}
.news{
    width: 300px;
    height: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.news-thumbnail img{
    width: 100%;
}











/*-----------
    footer styles
 ----------- */

.footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 63px;
}
.footer-top img{
    width: 470px;
    height: 110px;
    margin-bottom: 20px;
}
.social-icons i{
    width: 32px;
    height: 32px;
    font-size: 18px;
    text-align: center;
    margin: 0px 14px;
    color: #969BAB;
    background-color: #0b0d1717;
    border-radius: 50%;
    line-height: 1.7;
}
.copyright{
    font-size: 18px;
    margin: 20px 0px;
    color: #000000;
}
